body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  padding: 10px 20px;
  margin: 0;
  color: #333;
  display: flex;
  flex-direction: column; 
  align-items: center;   
}

.header { 
    width: 100%;
    text-align: center;    
}

.navegacion {
    text-align: match-parent;
}

h1 {
    background-color:  #f5f5f5;
    color: rgb(0, 0, 0);
    font-size: 2,5rem;
}

h2 {
    background-color:  #f5f5f5;
    color: rgb(255, 2, 2);
    font-size: 2,5rem;
}

p {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 600px;
    line-height: 1.6;
    text-align: justify;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-top: 15px;
    display: block;
}

.imagen-apropiada {
  max-width: 300px;
  border-radius: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: #636262;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  transition: background 0.3s ease;  
}

nav ul li a:hover {
  background-color: #adadad;
}

